html,body {
  height:100%;
  color:white;
   background: url(../images/thehypegateLarge.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:white;
}

.lead {
	color:white;
  margin-bottom: 100px;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#6AFF94;
  text-decoration:none;
}

.v-center {
  margin-top:10%;
}